.base {
    min-width: 11rem;
    margin: 5px auto;
    padding: 5px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.base:hover {
    cursor: pointer;
}

.base-link {
    display: block;
    margin: 5px auto;
    padding: 5px;
    min-width: 11rem;
    text-align: center;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.base-link:hover {
    cursor: pointer;
}

.primary {
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    border: 2px solid #3aa0ff;
    border-radius: 4px;
    background-color: #3aa0ff;
}

.primary:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.primary-outline {
    border: 2px solid #3aa0ff;
    border-radius: 4px;
    color: #3aa0ff;
}

.primary-outline:hover {
    background-color: #3aa0ff;
    color: #fff;
}

.secondary {
    border: 2px solid #7bcae4;
    border-radius: 4px;
    background-color: #7bcae4;
}

.secondary:hover {
    border: 2px solid #5ebbda;
    border-radius: 4px;
    background-color: #5ebbda;
}

.secondary-outline {
    border: 2px solid #5a5a5a;
    border-radius: 4px;
    color: #5a5a5a;
}

.secondary-outline:hover {
    background-color: #5a5a5a;
    color: #fff;
}

.primary-link {
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    border: 2px solid #3aa0ff;
    border-radius: 4px;
    background-color: #3aa0ff;
}

.primary-link:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.secondary-link {
    border: 2px solid #46caf7;
    border-radius: 4px;
    background-color: #46caf7;
}

.secondary-link:hover {
    border: 2px solid #3fb8e0;
    border-radius: 4px;
    background-color: #3fb8e0;
}

.primary-link-outline {
    border: 2px solid #3aa0ff;
    border-radius: 4px;
    color: #3aa0ff;
}

.primary-link-outline:hover {
    background-color: #3aa0ff;
    color: #fff;
}

.secondary-link-outline {
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
}

.secondary-link-outline:hover {
    background-color: #fff;
    color: #000;
}
