.layout {
    display: grid;
    margin: 0 0 5rem;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-areas:    'layout__logo           .          layout__cart         layout__auth';
}

.layout__logo {
    grid-area: layout__logo;
    margin: auto auto auto 2rem;
}

.layout__logo:hover {
    cursor: pointer;
}

.layout__cart {
    grid-area: layout__cart;
    margin: auto 0 auto auto;
}

.layout__cart:hover {
    cursor: pointer;
}

.layout__auth {
    grid-area: layout__auth;
    display: grid;
    margin: auto 3rem auto auto;
    grid-template-areas:    'layout__auth__wallet'
                            'layout__auth__signin'
                            'layout__auth__signup';
}

.layout__auth__wallet {
    grid-area: layout__auth__wallet;
}

.layout__auth__signin {
    grid-area: layout__auth__signin;
}

.layout__auth__signup {
    grid-area: layout__auth__signup;
}
